.Text-Bold {
	font-family: Text-Bold;
	font-weight: normal;
	font-style: normal;
}
.Text-Bold {
	font-family: Text-Bold;
	font-weight: normal;
	font-style: normal;
}
.Text-Regular {
	font-family: Text-Regular;
	font-weight: normal;
	font-style: normal;
}
.Text-Medium {
	font-family: Text-Medium;
	font-weight: normal;
	font-style: normal;
}