//Fonts
$font-family-sans-serif: "Text-Regular", "BrandonText Regular", Arial, sans-serif;

$font-size-base: 15px;
$font-size-h1: 24px;

//Wrapper
$grid-gutter-width: 30px;
$container-desktop: (700px + $grid-gutter-width);
$container-large-desktop: (700px + $grid-gutter-width);
$container-tablet: (600px + $grid-gutter-width);

//Colors
$gray-lighter: #F6F6F7;
$gray-light: #868B8D;
$gray: #868B8D;
//$gray-dark: ;
$gray-darker: #3B3F43;

$brand-primary: #60C5E4;

//Partials
$user-image-radius: 50%;
$border-radius-base: 3px;

$jumbotron-bg: $gray-darker;

//Navigation bar
$navbar-height: 30px;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-margin: 40px;
$navbar-padding-horizontal: 40px;