//Fonts
$font-family-sans-serif: 'Karla', sans-serif;

$font-size-base: 15px;
$font-size-h1: 24px;

//Wrapper
$grid-gutter-width: 30px;
$container-desktop: (700px + $grid-gutter-width);
$container-large-desktop: (700px + $grid-gutter-width);
$container-tablet: (600px + $grid-gutter-width);

//Colors
$gray-lighter: #EFEFEF;
$gray-light: #AAAAAC;
$gray: #999999;
$gray-dark: #606063;
$gray-darker: #373A40;

$brand-primary: #29B873;
$brand-danger: #DF4931;

$input-color-placeholder: #C7C7C8;

//Partials
$user-image-radius: 50%;
$border-radius-base: 3px;

$jumbotron-bg: $gray-darker;

//Navigation bar
$navbar-height: 30px;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-margin: 75px;
$navbar-padding-horizontal: 75px;