#article {

	.terms {
		p {
			margin-bottom: 40px;
		}
	}

	[contenteditable=true]:empty:before{
	  content: attr(placeholder);
	  display: block;
	  color: #C7C7C8;
	  outline: none;
	}

	div[contenteditable=true] {
	  width: 100%;
	  display: block;
	  outline: none;
	  border: none;
	  box-shadow: none;
	}

	.tab {
		display: inline;
		padding-left: 20px;
		font-size: 20px;
	}

	blockquote {
		display: block;
		padding: 0px 20px;
		margin: 25px 0px;
		font-size: 15px;
		min-height: 28px;
	}

	.title {
		@extend .Text-Bold;
		font-size: 18px;
		color: $gray-darker !important;
		margin: 0 0 0px 0;
		letter-spacing: 0.1px;
		outline: none;
		border: none;
	}

	.info {
		@extend .Text-Regular;
		margin-top: 5px;
		color: $gray;
		font-size: 14px;

		a, span {
			color: $gray;
			margin-right: 35px;
		}

		a:hover {
			color: darken($gray-light, 10%);
		}
	}

	.bottom-bar {
		@extend .clearfix;
		padding-top: 75px;

		.enjoyed {
			@extend .inline-block;
			@extend .Text-Bold;
			color: $brand-primary;
			font-size: 15px;
			height: 25px;
			line-height: 25px;
		}

		.signin-link {
			@media (max-width: $screen-sm-min) {
				display: block;
				float: left;
				text-algin: left;
			}
		}

		.f-right {
			text-align: right;
			@media (max-width: $screen-sm-min) {
				width: 100%;
			}
		}

		@media (max-width: $screen-sm-min) {
			.users {
				margin-top: -25px;
			}
		}

		.f-left {
			height: 25px;
			line-height: 25px;
		}

		.more {
			@extend .inline-block;
			@extend .Text-Bold;
			width: 25px;
			height: 25px;
			line-height: 28px;
			font-size: 12px;
			text-align: center;
			color: $gray;
			cursor: pointer;
		}

		.user {
			.profile-image {
				@extend .inline-block;
				width: 25px;
				height: 25px;
				margin-right: 5px;
			}

			&:first-child {
				.profile-image {
					margin-left: 20px;
				}
			}

			&:last-child {
				.profile-image {
					margin-right: 0px;
				}
			}
		}

	}


	.content {
		@extend .Text-Regular;
		font-size: 16px !important;
		line-height: 31px !important;
		color: $gray-darker !important;
		word-wrap: break-word;
		height: 100%;
		margin: 50px 0px 0px 0px;

		* {
			@extend .Text-Regular;
			font-size: 16px !important;
			color: $gray-darker !important;
		}

		img {
			display: none;
			width: 100%;
			height: auto;
		}

		h2 {
			@extend .Text-Bold;
			font-weight: 700 !important;
			font-size: 16px !important;
		}

		pre {
			@extend .Mono-Regular;
			background-color: #F7F7F7 !important;
			border-radius: 3px;
			padding: 15px;
	    	margin: 25px 0px 25px 25px;
	    	position: relative;
	    	min-height: 55px;
	    	font-size: 14px !important;
	    	color: #777 !important;
	    	border: none;
	    	line-height: 25px;

	    	.tab {
				@extend .tab;
				font-size: 15px;
			}

			@media (max-width: $screen-sm-min) {
				margin-left: 0px;
				font-size: 12px;
			}
		}

	}


}