#article {
	.right-container {
		position: absolute;
		left: -300px;
		width: 250px;
		top: 0px;
		overflow: auto;
		height: 100%;
		padding-bottom: 150px;

		.user {
			display: block;
			height: 30px;
			margin-bottom: 15px;

			.profile-image {
				@extend .inline-block;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}

			.link {
				@extend .inline-block;
				vertical-align: middle;
				color: $gray-darker;
				font-size: 15px;
				height: 30px;
				line-height: 30px;

				&:hover {
					color: #000;
				}
			}
		}
	}

	[contenteditable=true]:empty:before{
	  content: attr(placeholder);
	  display: block;
	  color: #C7C7C8;
	  outline: none;
	}

	div[contenteditable=true] {
	  width: 100%;
	  display: block;
	  outline: none;
	  border: none;
	  box-shadow: none;
	}

	.tab {
		display: inline;
		padding-left: 20px;
		font-size: 20px;
	}

	pre {
		@extend .Mono-Regular;
		background-color: #F7F7F7;
		border-radius: 3px;
		padding: 15px;
    	margin: 25px 0px 25px 25px;
    	position: relative;
    	min-height: 55px;
    	font-size: 14px;
    	color: #777;
    	border: none;
    	line-height: 25px;

    	.tab {
			@extend .tab;
			font-size: 15px;
		}

		@media (max-width: $screen-sm-min) {
			margin-left: 0px;
			font-size: 12px;
		}
	}

	blockquote {
		display: block;
		padding: 0px 20px;
		margin: 25px 0px;
		font-size: 15px;
		min-height: 28px;
	}

	.title {
		@extend .Text-Bold;
		font-size: 18px;
		color: $gray-darker;
		margin: 0 0 0px 0;
		outline: none;
		border: none;
	}

	.info {
		@extend .Text-Regular;
		margin-top: 5px;
		color: $gray;
		font-size: 14px;

		a, span {
			color: $gray;
			margin-right: 35px;
		}

		a:hover {
			color: darken($gray-light, 10%);
		}
	}

	.bottom-bar {
		@extend .clearfix;
		padding-top: 75px;

		.enjoyed {
			@extend .Text-Bold;
			display: block;
			color: $brand-primary;
			font-size: 15px;
		}

		.f-right {
			text-align: right;
		}

		.more {
			@extend .inline-block;
			@extend .Mono-Medium;
			width: 25px;
			height: 25px;
			line-height: 25px;
			font-size: 12px;
			text-align: center;
			color: $gray-light;
		}

		.profile-image {
			@extend .inline-block;
			width: 25px;
			height: 25px;
		}
	}


	.content {
		@extend .Text-Regular;
		font-size: 16px;
		line-height: 31px;
		color: $gray-darker;
		word-wrap: break-word;
		height: 100%;
		margin: 50px 0px 0px 0px;

		img {
			width: 100%;
			height: auto;
		}

		h2 {
			@extend .Text-Bold;
			font-size: 16px;
		}

	}


}