#error {

	.infomation {
		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;
		transform: translate(-50%,-50%);

		h2 {
			@extend .Text-Bold;
			margin: 75px 0 5px 0;
			font-size: 18px;
			color: $gray-darker;
		}

		.ghost {
			margin: 0px auto;
			width: 100px;
			height: 120px;
			@include background-img("/img/illustrations/ghost.svg", "100px 120px");
		}
	}

}