#home {

	.profile-img-cont {
		text-align: right;
		width: 120px;
		float: right;
		margin-top: 10px;

		a:nth-child(3n+3) {
			.profile-image {
				margin-right: 0px;
			}
		}

		a {
			display: inline;
		}
	}

	.profile-image {
		@extend .inline-block;
		width: 30px;
		height: 30px;
		margin-right: 5px;
		margin-bottom: 5px;

		&.faded {
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}
	}

	.item {
		@extend .clearfix;
		padding-bottom: 25px;
		margin-bottom: 20px;
		border-bottom: 1px solid $gray-lighter;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0px;
		}

		.base {
			@extend .clearfix;
		}

		.title {
			@extend .Mono-Medium;
			font-size: 15px;
			color: $gray-darker;
		}

		.info {
			@extend .Mono-Medium;
			display: block;
			color: $gray-light;
			font-size: 14px;
			margin-top: 10px;

			a, span {
				color: $gray-light;
				margin-right: 35px;
			}

			a:hover {
				color: darken($gray-light, 10%);
			}
		}
	}


}