#landing {

	.type-section {
		@extend .Mono-Medium;
		color: $gray-darker;
		font-size: 15px;
		line-height: 39px;
	}

	.navbar-default {
		margin-bottom: 65px;
	}

	.btn-primary {
		position: absolute;
		bottom: $navbar-margin;
		left: $navbar-margin;
	}


}