#profile {

	.article-listing {
		border-top: 1px solid $gray-lighter;
	}

	.follow-buttons {
		display: inline;
	}

	.right-container {
		position: absolute;
		left: -300px;
		width: 250px;
		top: 0px;
		overflow: auto;
		height: hidden;
		padding-bottom: 150px;

		.user {
			display: block;
			height: 30px;
			margin-bottom: 15px;

			.profile-image {
				@extend .inline-block;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}

			.link {
				@extend .inline-block;
				vertical-align: middle;
				color: $gray-darker;
				font-size: 15px;
				height: 30px;
				line-height: 30px;

				&:hover {
					color: #000;
				}
			}
		}
	}

}