#profile {

	.profile-image {
		width: 50px;
		height: 50px;
		float: left;
		margin-right: 20px;
	}

	.user {
		@extend .Mono-Medium;
		font-size: 15px;
		color: $gray-darker;
		margin: 0 0 0px 0;
		outline: none;
		border: none;

		.btn {
			float: right;
		}
	}

	.article-listing {
		margin-top: 44px;

		.item:last-child {
			border-bottom: none !important;
		}
	}

	.info-base {
		@extend .Mono-Medium;
		margin-top: 10px;
		color: $gray-light;
		font-size: 14px;
		padding-bottom: 44px;
		border-bottom: 1px solid $gray-lighter;

		a, span {
			color: $gray-light;
			margin-right: 35px;
		}

		a:hover {
			color: darken($gray-light, 10%);
		}
	}

	.item {
		@extend .clearfix;
		padding-bottom: 15px;
		margin-bottom: 50px;
		border-bottom: 1px solid $gray-lighter;

		.base {
			@extend .clearfix;
		}

		.title {
			@extend .Mono-Medium;
			font-size: 15px;
			color: $gray-darker;
		}

		.info {
			@extend .Mono-Medium;
			display: block;
			color: $gray-light;
			font-size: 14px;
			margin-top: 10px;

			a, span {
				color: $gray-light;
				margin-right: 35px;
			}

			a:hover {
				color: darken($gray-light, 10%);
			}
		}
	}
}