.messages {
	$message-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

	position: relative;
	padding: 0px 20px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 0px;
	font-size: 16px;
	line-height: 50px;
	height: 0px;
	color: #fff;
	transition: .4s all $message-timing-function;

	&.messages-error {
		background-color: $brand-danger;
	}

	&.messages-success {
		background-color: $brand-success;
	}

	&.show {
		height: 50px;
	}
}