.editbar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: block;
	width: 100%;
	padding: 10px 0px;
	background: #fff;
	border-top: 1px solid $gray-lightest;

	.container {
		margin: 0px auto;
	}
}