$code-bg: #FAFAFA;

pre {
  display: block;
  background: darken($code-bg, 2%);
  padding: 15px;
  font-size: 15px;
}

code {
  background: darken($code-bg, 2%);
  color: $gray-dark;
  font-size: 14px;
  font-size: 14px;
  border-radius: $border-radius;
}