.btn {
	@extend .Text-Bold;
	border-radius: 3px;
	font-size: 14px;
	padding: 11px 30px;
	border: none;

	&.btn-primary {
		&:hover {
			background-color: darken($brand-primary, 3%);
		}

		&:active {
			background: $brand-primary;
		}
	}
}