.btn {
	@extend .Text-Bold;
	border-radius: 2px;
	font-size: 14px;
	padding: 8px 30px;
	border: none;

	&.btn-primary {
		&:hover {
			background-color: darken($brand-primary, 3%);
		}

		&:active {
			background: $brand-primary;
		}
	}

	&.btn-gray {
		background-color: #ccc;
		color: #fff;

		&:hover {
			background-color: darken(#ccc, 3%);
			color: #fff;
		}

		&:active {
			background-color: #ccc;
			color: #fff;
		}

	}
}