footer.main-footer {
	@extend .clearfix;
	margin-top: 25px;
	border-top: 1px solid $gray-lighter;
	padding: 25px 0px 100px 0px;

	.footer-item {
		@extend .inline-block;
		text-indent: -9999em;
		width: 18px;
		height: 11px;
		margin-right: 15px;

		&.layerful {
			background: url(/img/partials/layerful.svg) no-repeat center;
			background-size: 18px 11px;
		}
	}

	.f-right {
		a {
			@extend .Text-Regular;
			font-size: 12px;
			margin-right: 20px;
			color: $gray;

			&:last-child {
				margin-right: 0px;
			}

			&:hover {
				color: $gray-darker;
			}
		}
	}
}