.confirm-message {
	@extend .container;
	@extend .clearfix;
	display: none;
	margin-bottom: 25px;
	padding: 15px 20px;
	border-radius: 3px;

	&.danger {
		color: $brand-danger;
		background: rgba($brand-danger, 0.1);

		.btn-container .option-two {
			color: $brand-danger;
			&:hover {
				color: darken($brand-danger, 3%);
			}
		}

		.btn-container .option-one {
			color: rgba($brand-danger, 0.5);
			&:hover {
				color: $brand-danger;
			}
		}
	}

	&.warning {
		color: $brand-warning;
		background: rgba($brand-warning, 0.1);

		.btn-container .option-two {
			color: $brand-warning;
			&:hover {
				color: darken($brand-warning, 3%);
			}
		}

		.btn-container .option-one {
			color: rgba($brand-warning, 0.5);
			&:hover {
				color: $brand-warning;
			}
		}
	}

	.message {
		@extend .Text-Regular;
		font-size: 14px;
		float: left;
	}

	.btn-container {
		float: right;

		a {
			@extend .inline-block;
			@extend .Text-bold;
			font-size: 14px;
			margin-right: 20px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}


}