.navbar.navbar-default {
	margin: $navbar-margin auto 50px auto;
	border: none;

	&.faded {
		transition: opacity .3s ease-in-out;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	.navbar-brand {
		@extend .Mono-Medium;
		@extend .inline-block;
		color: $gray-light;
		font-size: 14px;
	}

	.navbar-nav {
		margin: 0px !important;
	}

	li {
		margin-right: 46px;
		&:last-child {
			margin-right: 0px;
		}
	}

	li a {
		@extend .Mono-Medium;
		color: $gray-light;
		font-size: 14px;
		padding: 0px;
		margin-bottom: 4px;

		&:hover {
			color: $gray-dark;
			background-color: transparent;
			border: none;
		}
	}
}
