.navbar.navbar-default {
	margin: 75px auto 75px auto;
	border: none;

	@media (max-width: $screen-sm-min) {
		margin: 30px auto 70px auto;
	}

	&.faded {
		transition: opacity .3s ease-in-out;
		opacity: 0.3;

		&:hover {
			opacity: 1 !important;
		}
	}

	.navbar-header {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	&.full {
		.container {
			@extend .container-fluid;
			max-width: 100%;
		}
	}

	.navbar-brand {
		@extend .Mono-Medium;
		@extend .inline-block;
		color: $gray-light;
		font-size: 14px;
		text-align: left !important;
		padding: 0px;

		.logo {
			@extend .inline-block;
			text-indent: -9999em;
			width: 15px;
			height: 12px;
			@include background-img("/img/logo.svg", 15px 12px);
		}

	}

	.beta-box {
		@extend .Mono-Medium;
		@extend .inline-block;
		padding: 1px 9px;
		background-color: $gray-light;
		color: #acacac;
		font-size: 9px;
		text-transform: uppercase;
		border-radius: 2px;
		margin-left: 0px;

		&:hover {
			color: #acacac;
			background-color: darken($gray-light, 2%);
		}
	}

	.navbar-nav {
		margin: 0px !important;
	}

	.navbar-right {
		padding: 0px;
		margin: 0px !important;

		@media (max-width: $screen-sm-min) {
			float: right;
			margin-top: -31px !important;
		}
	}

	li {
		margin-right: 25px;
		margin-top: 4px;
		&:last-child {
			margin-right: 0px;
			margin-left: 0px;
		}

		@media (max-width: $screen-sm-min) {
			@extend .inline-block;
		}
	}

	li a {
		@extend .Text-Regular;
		color: $gray;
		font-size: 14px;
		padding: 0px;
		margin-bottom: 4px;

		&:hover {
			color: $gray-darker;
			background-color: transparent;
			border: none;
		}

		&.brand-primary {
			color: $brand-primary;
			&:hover {
				color: darken($brand-primary, 10%);
			}
		}
	}
}
