aside.sidebar {
	width: 200px;
	text-align: right;
	top: 0px;
	position: absolute;
	left: auto;
	margin-left: -275px;

	&.fixed {
		position: fixed !important;
		top: 75px;
	}

	&.hack {
		top: 180px;
		&.fixed {
			position: fixed !important;
			top: 255px;
		}
	}

	.options {
		margin-top: 35px;
	}

	a {
		@extend .Text-Regular;
		display: block;
		text-align: right;
		line-height: 28px;
		outline: none;
		border: none;
		color: $gray;
		font-size: 15px;

		&:hover, &.active {
			color: $gray-dark;
		}

		&.active {
			@extend .Text-Bold;
		}

		&.brand-primary {
			color: $brand-primary;
			&:hover {
				color: darken($brand-primary, 10%);
			}
		}

		&.brand-danger {
			margin-top: 20px;
			color: lighten($brand-danger, 20%);
			&:hover {
				color: $brand-danger;
			}
		}

		&.btn {
			@extend .inline-block;
			width: 100px;
			color: #fff !important;
			padding: 5px 0px;
			font-size: 14px;
			text-align: center;
			box-sizing:border-box;

			&.brand-primary {
				background: $brand-primary;
				&:hover {
					background: darken($brand-primary, 3%);
				}
			}
		}
	}

	.btn-container {
		margin-bottom: 20px;
		text-align: right;

		&.push {
			margin-top: 20px;
		}
	}
}


.right-container {
	width: 250px;

	.overflow-container {
		height: 300px;
		overflow: auto;
	}

	.user {
		display: block;
		height: 30px;
		margin-bottom: 15px;

		.profile-image {
			@extend .inline-block;
			vertical-align: middle;
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}

		.link {
			@extend .inline-block;
			vertical-align: middle;
			color: $gray-darker;
			font-size: 15px;
			height: 30px;
			line-height: 30px;

			&:hover {
				color: #000;
			}
		}
	}
}