aside.sidebar {
	width: 200px;
	text-align: right;
	top: 0px;
	position: absolute;
	left: auto;
	margin-left: -275px;

	&.fixed {
		position: fixed;
		top: 75px;
	}

	&.hack {
		top: 200px;
		&.fixed {
			position: fixed;
			top: 275px;
		}
	}

	.options {
		margin-top: 35px;
	}

	a {
		@extend .Mono-Medium;
		display: block;
		text-align: right;
		line-height: 28px;
		outline: none;
		border: none;
		color: $gray-light;
		font-size: 14px;

		&:hover, &.active {
			@extend .Mono-Medium;
			color: $gray-dark;
		}

		&.brand-primary {
			color: $brand-primary;
			&:hover {
				color: darken($brand-primary, 10%);
			}
		}

		&.brand-danger {
			margin-top: 20px;
			color: lighten($brand-danger, 20%);
			&:hover {
				color: $brand-danger;
			}
		}
	}
}