.write-area {
	padding-bottom: 30px;

	span.break {
		display: block;
		width: 100%;
		height: 20px;
	}

	.code-block {
		@extend .inline-block;
		position: relative;
		width: 100%;
		padding: 20px 20px 50px 20px;
		background: $gray-lighter;
		color: $gray;
		box-sizing: border-box;
		font-family: "Source Code Pro", "Monaco", "courier";
		font-size: 14px;
		line-height: 20px;

		&:after {
			content: '';
			position: absolute;
			bottom: 20px;
			right: 20px;
			height: 15px;
			width: 45px;
			opacity: 0.4;
			@include background-img("/img/partials/shift-enter.svg", 45px 15px);
		}
	}

	h1 {
		@extend .BrandonText-Bold;
		font-size: 24px;
		color: $gray-darker;
	}

	h2 {
		@extend .BrandonText-Medium;
		font-size: 18px;
		color: $gray;
	}




}